/*---- Header Style ----*/
.header {
    &-main {
        background-color: $white;
        position: fixed;
        top: 0;
        z-index: 99;
        width: 100%;
        &-wrap {
            display: flex;
        }
        /*---- Logo ----*/
        .logo {
            width: 300px;
            max-width: 100%;
            padding: $spacing_xs;
            @include flex_align_center;
            span:not(:last-child) {
                border-right: 1px solid $grey_xd;
                padding-right: $spacing_xs;
                margin-right: $spacing_xs;
            }
            img {
                max-width: 90px;
                max-height: 35px;
            }
        }
        /*---- Header Left Style ----*/
        &-left {
            width: 275px;
            background-color: $white;
            padding: 0 $spacing_sm;
            display: flex;
            align-items: center;

            @media (max-width: 1440px) {
                width: 230px;
            }
        }
        /*---- Header Right Style ----*/
        &-right {
            text-align: right;
            padding: 0 $spacing_sm;
            @include flex_align_center;
            flex: 1 1;
            justify-content: space-between;
        }
    }
    /*---- Header ----*/
    &-search {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        > form {
            flex: 1;
            margin-left: 20px;
        }
    }
    /*---- Header Sidebar Icon ----*/
    &-icon_bar {
        cursor: pointer;
    } 

    /*---- Invite Header ----*/
    &-invite {
        .logo {
            padding: $spacing_sm 0 0;
            @media (min-width: 992px) {
                position: absolute;
                top: 0;
            }
        }
        @media (max-width: 991px) {
            text-align: center;
        }
    }
    /*---- Signup Header ----*/
    &-signup {
        padding: $spacing_sm 0 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 9999;
        .logo {
            padding: 0 0 $spacing_sm;
        }
    }
}
/*---- Search Style ----*/
.search {

    /*---- Search Bar Style ----*/
    &-bar {
        display: flex;
        flex: 1;
        align-items: center;
        padding: 5px 20px;
        background-color: $white;

        /*---- Search Icon Style ----*/
        i, input.form-control {
            color: $text_light;
        }
        
        /*---- Form Input Style ----*/
        input.form-control {
            border: none;
            background-color: transparent;
        }
    }
}
