/*---- Progress Style End Here ----*/
.progress {
    height: 5px;
    border-radius: $border_radius_sm;

    &-box {
        &-title {
            display: flex;
            justify-content: space-between;
            column-gap: 15px;
            font-size: 12px;
        }
    }

    &-bar {
        align-items: flex-end;
        &-text {
            position: absolute;
            transform: translate(10px, -12px);
            color: $text_color;
            font-weight: 600;
            font-size: 11px;
        }
    }
    &-success {
        background-color: $success;
    }
    &-secondary {
        background-color: $secondary;
    }
}
/*---- Progress Style End Here ----*/