/*---- Body Style ----*/
body {
    font-family: $jost;
    font-weight: 400;
    color: $text_color;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    @media (max-width: 1400px) {
        font-size: 14px;
    }
}

hr {
    opacity: 1;
    border-color: $grey;
}

.opaicty {
    &-05 {
        opacity: 0.5;
    }
}

/*---- Anchor Style ----*/
a {
    color: $text_color;
    text-decoration: none;
    transition: $ease_03;
    cursor: pointer;
    &:hover {
        color: $link_hover;
    }
}

.text-cursor {
    cursor: pointer;
}

/*---- Font Weight ----*/
b, strong {
    font-weight: bold;
}

/*---- Small ----*/
.small, small {
    font-size: .6rem;
}
/*---- Width ----*/
.w {
    &-150 {
        min-width: 150px;
    }
    &-200 {
        min-width: 200px;
    }
}
/*---- Batch ----*/
.badge {
    line-height: inherit;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    &-notifications{
        position: absolute;
        top: -10px;
        right: -8px;
        width: 20px;
        height: 20px;
        line-height: 10px;
        padding: 5px;
        font-size: 10px;
    }
}

/*---- Text Style ----*/
.text {
    &-link {
        transition: $ease_03;

        &-danger {
            color: $danger;
        }

        &-success {
            color: $success;
        }
    }
    &-light {
        color: $text_light !important;
    }
    &-primary {
        color: $brand !important;
    }
    &-xl {
        font-size: 24px;
    }
    &-lg {
        font-size: 20px;
    }
    &-md {
        font-size: 16px;
    }
    &-sm {
        font-size: 13px;
    }
    &-xs {
        font-size: 11px;
    }
}

/*---- List Style ----*/
ul {
    &.list {
        /*---- List None Style ----*/
        &-none {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
    }
    /* ----- Social Icons ----- */
    &.social-icons {
        @include flex_align_center;
        list-style-type: none;
        padding: 0;
        margin: 0;
        gap: 10px;

        li a {
            width: 30px;
            height: 30px;
            @include flex_center;
            border: 1px solid $grey_xd;
            border-radius: 50%;

            &:hover, &:active {
                background-color: $dark;
                border-color: $dark;
                color: #fff;
            }
        }
    }
}

.list {
    &-group {
        &-item {
            background-color: transparent;
            border: inherit;
            padding: inherit;
            color: inherit;
        }
    }
}

.border-bottom-list {
    &:not(:last-child) {
        border-bottom: 1px solid $border_grey;
    }
}

.spacing-between-20 {
    &:not(:last-child) {
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
}

/*---- Title Styles ----*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5 {
    font-weight: 500;
    margin-bottom: $spacing_xs;
}

.h1, h1 {
    font-size: 3.5rem;
    @media (max-width: 767px) {
        font-size: 50%;
    }
}

.h2, h2 {
    font-size: 3rem;
    @media (max-width: 991px) {
        font-size: 2.4rem;
    }
    @media (max-width: 767px) {
        font-size: 2rem;
    }
}

.h3, h3 {
    font-size: 2.4rem;
    @media (max-width: 991px) {
        font-size: 2rem;
    }
    @media (max-width: 767px) {
        font-size: 1.8rem;
    }
}

.h4, h4 {
    font-size: 2rem;
    @media (max-width: 991px) {
        font-size: 1.8rem;
    }
    @media (max-width: 767px) {
        font-size: 1.6rem;
    }
}

.h5, h5 {
    font-size: 1.6rem;
    @media (max-width: 767px) {
        font-size: 1.3rem;
    }
}

.h6, h6 {
    font-size: 1.2rem;
    margin-bottom: 0;
    font-weight: 400;
    @media (max-width: 767px) {
        font-size: 1.1rem;
    }
}

.title {
    font-weight: 300;
    &-sub {
        font-weight: 300;
    }
    &-wrap {
        margin-bottom: $spacing_md;
        .title {
            margin-bottom: $spacing_xs;
        }
    }
    &-sm {
        font-size: 20px;
    }
    &-md {
        font-size: 24px;
    }
    &-label {
        color: $text_color;
        font-weight: 500;
        margin-bottom: 15px;
    }
    &-with_icon {
        @include flex_align_center;
        gap: 7px;
    }
}

.font {
    &-500 {
        font-weight: 500;
    }
    &-400 {
        font-weight: 400;
    }
}

@media (max-width: 1400px) {
    .h3, h3 {
        font-size: 2.2rem;
    }
    .h4, h4 {
        font-size: 1.7rem;
    }
}

/*---- Section Space ----*/
.space {
    &-sec {
        padding-top: $spacing_xl;
        padding-bottom: $spacing_xl;
        @media (max-width: 991px) {
            padding-top: $spacing_lg;
            padding-bottom: $spacing_lg;
        }
        @media (max-width: 767px) {
            padding-top: $spacing_md;
            padding-bottom: $spacing_md;
        }
    }
    &-top {
        &-btn {
            margin-top: $spacing_lg;
        }
    }
    &-last_child_0 {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}

hr.space-sm {
    margin: 10px 0;
}

/*---- Background Overlay ----*/
.bg {
    &-overlay {
        width: 100%;
        height: 100%;
        background-color: $dark;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0.2;
    }
    &-grey {
        background-color: $grey;
    }
}

/* ----- Alert Message ----- */
.alert {
    padding: $spacing_xs $spacing_sm;
    font-size: 14px;
}

/* ----- Icon -----*/
.icon_group {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing_xs;
}

/* ----- Column Style ----- */
.column {
    &-box {
        background-color: #fff;
        padding: $spacing_sm;
        border-radius: $border-radius_xs;
        &-style1 {
            border: 1px solid $grey;
        }
    }
    &-head {
        border-bottom: 1px solid $grey;
        padding-bottom: $spacing_xs;

        &-light {
            border-bottom: none;
            background-color: $light;
            padding: 10px 15px;
            border-radius: $border-radius_xs;
        }
    }
    &-title {
        font-size: 20px;
        font-weight: 500;
    }
}

/* ----- Search ----- */
.search-box {
    display: inline-flex;
    align-items: center;
    border-radius: $border-radius_xs;
    background-color: #fff;
    border: 1px solid $grey_xd;
    padding: 3px;
    position: relative;

    input.form-control {
        min-height: inherit;
        border: none;
        padding: 5px 10px;
        background: transparent;
        width: inherit;
        font-size: 14px;
        min-width: 230px;
    }

    &-icon {
        @include inline_flex_center;
        background-color: $secondary;
        color: #fff;
        border-radius: $border-radius_xs;
        border: none;
        font-size: 14px;
        line-height: 26px;
        cursor: pointer;
        transition: $ease_03;

        &:hover, &:focus {
            background-color: $secondary_light;
            color: $secondary;
        }
    }

    &-float {
        &-style {      
            input.form-control {
                font-size: 13px;
            }
        }
        &-icon {
            color: $secondary;
            width: 30px;
            @include flex_center;
            border-right: 1px solid $grey_xd;
        }
    }
}

/* ----- Single Add ----- */
.single-add {
    display: grid;
    gap: $spacing_s;
    background-color: $light;
    border: 1px solid $grey;
    padding: 7px 7px 7px 15px;
    border-radius: $border_radius_xs;
    max-width: 450px;
    grid-template-columns: 1fr auto;
    box-shadow: $box_shadow_xtra_light;

    &-wrap {
        display: flex;
        align-items: center;
    }

    &-date {
        width: 35px;
        height: 30px;
        background: $secondary_light;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        border-radius: $border_radius_xs;
        margin-left: $spacing_xs;
        color: $secondary;
    }

    input.form-control {
        min-height: inherit;
        border: 1px solid transparent;
        border-right: 1px solid $grey_xd;
        padding: 0 $spacing_xs 0 0;
        background-color: transparent;
    }
} 

/* ----- Card ----- */
.card_style {
    background-color: #fff;
    padding: $spacing_sm;
    border-radius: $border_radius_xs;
    box-shadow: $box_shadow_xtra_light;
    transition: $ease_03;
    position: relative;
    overflow: hidden;

    &-label {
        font-size: 18px;
    }

    &-open {
        width: 30px;
        height: 30px;
        font-size: 22px;
        @include flex_center;
        background-color: $brand_light;
        color: $brand;
        border-radius: $border-radius_xs;
        position: absolute;
        right: 10px;
        top: 10px;
        opacity: 0;
        visibility: hidden;
        transform: translateX(5px);
        transition: $ease_03;
        z-index: 99;

        &:hover {
            background-color: $brand;
            color: #fff;
        }
    }

    &:after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: $brand;
        transform: translateX(-100%);
        transition: $ease_03;
        position: absolute;
        left: 0;
        top: 0;
    }

    &:hover {
        box-shadow: $box_shadow_light;

        .card_style-open {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
        }
        
        &:after {
            transform: translateX(0);
        }
    }

    &-head {
        h4 {
            font-size: 18px;

            a:hover {
                color: $brand;
            }
        }
    }

    &-options {
        &-head {
            font-size: 16px;
            font-weight: 500;

            span {
                margin-right: 5px;
            }
        }
        &-list {
            margin-top: 10px;
        }
    }

    &-client {
        &-head {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: $spacing_xs;
            margin-right: 30px;

            img {
                width: 30px;
            }
        }
    }

    &-project {
        &-head {
            h4 {
                font-size: 22px;
            }
            &-client {
                font-size: 14px;
                margin-bottom: 5px;
                i {
                    color: $warning;
                }
            }
        }
        &-options {
            @include flex_align_center;
            margin-top: 25px;
            gap: 50px;
            font-weight: 500;

            span {
                color: $brand;
            }
        }
    }

    &-tasks {
        &-title {
            font-size: 16px;
            font-weight: 500;

            span {
                color: $brand;
                margin-right: 5px;
            }
        }
        &-list {
            @include flex;
            gap: 5px;
        }
        &-item {
            font-size: 12px;
            padding: 3px 10px;
            background-color: $grey;
            border-radius: $border_radius_rounded;
            font-weight: 500;
            border: 1px solid $grey_xd;
            @include flex_align_center;

            span {
                margin-right: 3px;
            }

            &-pending {
                background-color: $secondary_light;
                color: $secondary;
                border-color: $secondary;
            }

            &-overdue {
                background-color: $danger_light;
                color: $danger;
                border-color: $danger;
            }

            &-done {
                background-color: $success_light;
                color: $success;
                border-color: $success;
            }
        }
    }

    &-user {
        &-head {
            text-align: center;

            &-team {
                position: absolute;
                top: 10px;
                left: 10px;
            }
        }
        &-profile {
            &-img {
                img {
                    width: 100px;
                }
            }
            &-content {
                h4 {
                    font-size: 20px;
                    margin-bottom: 5px;
                }
            }
        }

        &-title {
            font-weight: 500;
            margin-bottom: 10px;

            span {
                color: $secondary;
            }
        }
    }

    &-team {
        &-profile-content {
            h4 {
                font-size: 22px;
            }
            .avatarGroup {
                min-height: 26px;
            }
        }
    }

    &-loader {
        &-wrap {
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.9);
            z-index: 99999;
            position: absolute;
            top: 0;
            left: 0;
            @include flex_center;
            font-size: 20px;
            letter-spacing: 2px;
        }
    }

    &-list_head {
        display: grid;
        grid-template-columns: 40px 1fr;
        grid-gap: 10px;

        img {
            max-width: 100%;
        }
    }

    &-star_active {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 16px;
    }
    &-roles{
        &-head {
          h4{
            font-size: 22px;
          }
           
        }
        &-title{
           
            span {
                color: $brand;
                margin-right: 5px;
            }
        }
        &-permission{
            @include flex;
            justify-content: space-between;
        }
    }
}

/* ----- Task Progress ----- */
.task_progress {
    &-head {
        @include flex;
        justify-content: space-between;
        font-weight: 500;
        margin-bottom: 25px;

        &-days {
            span {
                color: $warning;
            }
        }
    }
    &-btm {
        &-date {
            font-size: 14px;
            font-weight: 500;
            margin-top: 10px;
        }
    }
}

/* ----- Filter Sort ----- */
.filterSort {
    padding: $spacing_sm;
    &-header {
        font-size: 16px;
        margin-bottom: 15px;
        @include flex;
        gap: 7px;
    }
    &_btn {
        &_group {
            @include flex;
            gap: 10px;

            a {
                transition: $ease_03;
                &:hover, &.active {
                    background-color: $success;
                    color: #fff;
                }
            }
        }        
    }
}

/* ----- Edit Dropdown ----- */
.cus_dropdown {
    position: relative;
    display: inline-block;

    &-icon {
        font-size: 14px;
        cursor: pointer;
    }

    &-edit {
        position: absolute;
        right: 15px;
        top: 15px;
        z-index: 99;

        .cus_dropdown {
            &-icon {
                width: 20px;
                height: 20px;
                border-radius: $border-radius_xs;
                border: 1px solid $grey;
                @include flex_center;
                transition: $ease_03;
        
                &:hover {
                    border-color: $text_light;
                }
            }
        }
    }

    &-body {
        position: absolute;
        right: 0;
        transform: translateY(10px);
        opacity: 0;
        visibility: hidden;
        transition: $ease_03;
        z-index: 99999;
        &-widh_s {
            min-width: 150px;
        }
        &-widh_l {
            min-width: 350px;
        }
        &-wrap {
            background-color: #fff;
            box-shadow: $box_shadow_light;
            max-height: 80vh;
            overflow: auto;
        }
        &_left {
            right: inherit;
            left: 0;
        }
    }

    &-list {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            a {
                color: $text_color;
                padding: 6px 15px;
                @include flex_align_center;
                transition: $ease_03;

                span {
                    margin-right: 7px;
                }

                &:hover, &.active {
                    color: $text_color;
                    background-color: $grey;
                }
            }
            &:not(:last-child) {
                border-bottom: 1px solid $grey;
            }
        }
    }

    &-options {
        padding: 20px;
    }

    &.open {
        .cus_dropdown {
            &-body {
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

/* ------ Modal ------ */
.modal {
    &-backdrop {
        z-index: 999;
        &.show {
            opacity: 0.2;
        }
    }
    &-content {
        border: none;
        box-shadow: 0 3px 40px rgba(0,0,0,0.1);
    }
    &-dialog {
        @media (min-width: 1400px) {
            margin-top: 70px;
        }
    }
    &-body {
        padding: 0;
    }
    .btn-close {
        background-size: 12px;
        transition: $ease_03;
        margin: 0;
        padding: 0;
        width: 30px;
        height: 30px;
        background-color: $grey_xd;
    }
    &-title {
        font-size: 20px;
        text-transform: uppercase;
    }

    label:not(.form-check-label) {
        color: $text_color;
        font-weight: 600;
    }

    &-form {
        &-body {
            padding: $spacing_sm;
        }
        &-btm {
            border-top: 1px solid $grey_xd;
            padding: $spacing_sm;
        }
    }

    .form-control, .form-select {
        min-height: inherit;
    }

    .files-item {
        width: 150px;
        &-content-title {
            font-size: 12px;
        }
    }
}

/* ----- Breadcrumb ----- */
.breadcrumb {
    &-item {
        font-size: 14px;
        &.active {
            color: $secondary;
        }
        a {
            color: $text-color;
            transition: $ease_03;
            &:hover, &:focus {
                color: $secondary;
            }
        }

        + .breadcrumb-item::before {
            color: $text_grey;
        }
        
    }
}

/* ----- Loader ----- */
.loader {
    &_column {
        z-index: 9999;
        position: absolute;
        top: 0;
        left: 0;
    }
    &_cus {
        .progress {
            background-color: transparent;
            height: 2px;
            &-bar {
                background-color: $brand;
            }
        }
    }
}

/* ----- Divider ----- */
.divider-or {
    position: relative;
    width: calc(100% - 30px);
    text-align: center;
    margin: auto;
    span {
        background-color: $grey_xd;
        width: calc(50% - 50px);
        height: 1px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;

        &:nth-child(1) {
            left: 0;
        }
        &:nth-child(2) {
            right: 0;
        }
    }
}

/* ------ Offcanvas ------ */
.offcanvas {
    &-header {
        .form-select {
            min-height: inherit;
            font-size: 14px;
            padding: 4px 10px;
            min-width: 120px;
        }
    }
    &-backdrop.show {
        opacity: 0.2;
    }
    &.offcanvas-end {
        width: 550px;
    }
    &-body {
        border-top: 1px solid $grey;
        padding: 0;
    }

    &-footer {
        background-color: $light;
    }
}

/* ----- Task Pane Module ----- */
.taskPane {
    background-color: #fff;
    &-dashbaord {
        &-head {
            &-right {
                @include flex_align_center;
                justify-content: flex-end;
                gap: 15px;
                margin-left: auto;

                button.btn-icon {
                    font-size: 20px;
                    background-color: transparent;
                    border: none;
                    padding: 0;
                    margin: 0;
                    transition: $ease_03;
                    border: 1px solid $grey;
        
                    &[data-bs-dismiss="offcanvas"] {
                        font-size: 22px;
                    }
                    &:hover, &:focus {
                        color: $brand;
                        border-color: $brand;
                    }
                }
            }
        }
    }
    &-head {
        padding-top: 10px;
    }
    &-heading {
        position: relative;

        &-label {
            font-size: 14px;
            color: $brand;
            position: absolute;
            top: -10px;
            left: 5px;
            background: $white;
            padding: 0 $spacing_xs;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        input.form-control {
            font-size: 18px;
            color: $text-color;

            &::placeholder {
                color: $text_light;
            }

            &[disabled] {
                background: transparent;
            }
        }
    }
    &-body {
        margin-top: 30px;
    }
    &-item {
        &-label {
            font-size: 16px;
            font-weight: 500;
        }
        &-left {
            min-width: 150px;
        }
        &-right {
            flex: 1;
            .task-project-w {
                margin-top: 5px;
            }

            .select2-container--default .select2-selection--single .select2-selection__clear {
                margin-right: 10px;
            }
        }

        select, textarea {
            min-height: inherit;
            border: none;
            width: 100%;

            &:hover, &:focus {
                outline: none;
                box-shadow: none;
                border: none;
            }
        }
        textarea {
            border: 1px solid $grey;
            padding: 15px;
            border-radius: $border-radius_xs;
            transition: $ease_03;

            &:hover, &:focus {
                border-color: $brand;
            }
        }
    }
    &-footer {
        &-wrap {
            border-top: 1px solid $grey_xd;
            @include flex_align_center;
        }
    }
    &-calenderView {
        border: 1px solid $grey;
        border-radius: $border-radius_xs;
    }
}

/* ----- Activity ----- */
.cmnt {
    &_sec {
        border-top: 1px solid $grey;
    }
    &_item {
        &_title {
            font-size: 18px;
            @include flex_align_center;
            justify-content: space-between;
            background-color: #fff;

            span:nth-child(2) {
                font-weight: 400;
            }
        }
        &_task {
            font-size: 12px;
        }
        &_user {
            display: grid;
            grid-template-columns: 30px 1fr;
            grid-gap: $spacing_xs;
            position: relative;

            &_name {
                display: flex;
            }
            
            &_img {
                img {
                    width: 100%;
                }
            }
    
            &_text {
                margin-top: 10px;
                font-size: 14px;

                p, span, a {
                    font-size: 14px !important;
                    &:last-child {
                        margin-bottom: 0 !important;
                    }
                }

                img {
                    max-width: 100%;
                }

                a {
                    color: $secondary;
                    p:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            &-edit {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        &_actions {
            margin-left: auto;
        }
        &_date {
            font-size: 12px;
            color: $text_light;
        }
        &_row {
            &:not(:last-child) {
                margin-bottom: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid $grey;
            }
        }

        &-tabs {
            margin-bottom: 20px;
            .nav {
                &-link {
                    color: $text_light;
                    border-radius: 0;
                    border: none;
                    border-bottom: 2px solid transparent;
                    padding: 10px 0;
                    width: 50%;
                    text-align: left;
                    transition: $ease_03;
                    font-weight: 500;

                    &.active, &:hover, &:focus {
                        color: $brand;
                        border-color: $brand;
                    }

                    &:focus-visible {
                        box-shadow: none;
                        outline: none;
                    }
                }
            }
        }
    }
}

/* ----- File Attachments ----- */
.attached_files {
    @include flex;
    gap: 15px;
    &-item {
        &-preview {
            width: 70px;
            height: 70px;
            border-radius: 10px;
            overflow: hidden;
            border: 1px solid $grey_xd;
            @include flex_center;
            font-size: 22px;
            color: $text_light;
            cursor: pointer;
        }
        &-thumb {
            width: 100%;
        }
    }
}

/* ----- User Profile ----- */
.user {
    &-profile {
        text-align: center;
        &-img {
            width: 150px;
            height: 150px;
            margin: 0 auto 15px;
            border-radius: 50%;
            overflow: hidden;
            font-size: 48px;
            @include flex_center;
            cursor: pointer;
            position: relative;

            img {
                width: 100%;
            }

            &-edit {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                font-size: 26px;
                width: 50px;
                height: 50px;
                background-color: rgba(0,0,0,0.5);
                color: #fff;
                @include flex_center;
                border-radius: $border-radius;
                opacity: 0;
                visibility: hidden;
                transform: translateY(15px);
                transition: all 0.3s ease;
            }

            &:hover {
                .user-profile-img-edit {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }
        }
    }
}

/* ----- All Stats Style ----- */

.states_style {    
    &-icon {
        width: 40px;
        height: 40px;
        border-radius: $border_radius_xs;
        @include flex_center;
        font-size: 24px;
        color: $text-color;
        border: 1px solid $grey_xd;
        background-color: #fff;
        color: #fff;
    }

    &-text {
        color: $text-color;
        font-weight: 500;
        font-size: 16px;
    }

    &-success {

        .states_style-icon {
            background-color: $success;
            border-color:  $success;
        }
    }

    &-danger {

        .states_style-icon {
            background-color: $danger;
            border-color:  $danger;
        }

    }

    &-progress {
        .states_style-icon {
            background-color: $secondary;
            border-color:  $secondary;
        }

    }

    &-active {
        .states_style-icon {
            background-color: $yellow;
            border-color:  $yellow;
        }

    }
}

/* ----- Dashbaord Filters ----- */
.dashboard_filters {
    @include flex;
    gap: 25px;

    .btn-batch {
        transition: $ease_03;
        margin-left: 3px;
        min-width: 42px;
        text-align: center;
    }

    a {
        font-weight: 500;
        &:hover, &.active {
            color: $success;
            .btn-batch {
                background-color: $brand;
                border-color: $brand;
                color: #fff;
            }
        }
    }
    &-select {
        border-radius: $border_radius_xs;
        padding: 5px 10px;
        border-color: $grey;

        &:focus {
            border-color: $grey;
            outline: none;
        }
    }
}

/* ----- Toaster Style ----- */
#toast-container {
    > div {
        background-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
        opacity: 1;
        box-shadow: 0 3px 30px rgba(0,0,0,0.2);
        width: inherit;
        padding-left: 40px;
        font-weight: 600;
        &:hover {
            box-shadow: 0 3px 30px rgba(0,0,0,0.2);
        }
    }
    > .toast {
        &-success {
            background-image: url('/assets/images/success_green.svg') !important;
            background-color: $success_light;
            border-color: $success;
            color: $success;
            background-size: 20px;
        }

        &-error {
            background-image: url('/assets/images/error_red.svg') !important;
            background-color: $danger_light;
            border-color: $danger;
            color: $danger;
            background-size: 20px;
        }
    }
}

/* ----- Note Edtor ----- */
.mention_user {
    color: $brand;
}
.note-popover {
    font-family: $jost;
}
.note-hint-popover .popover-content .note-hint-group .note-hint-item {
    background-color: #fff;
    transition: all 0.3s ease;
    padding: 5px 10px;
    border-radius: 7px;
    .mention_user {
        color: $dark;
    }
    &:not(:last-child) {
        border-bottom: 1px solid $grey;
    }
    &:hover, &.active {
        background-color: $brand;
        line-height: inherit;
        .mention_user {
            color: #fff;
        }
    }
}

/* ----- Upload Logo Image ----- */
.image-preview-section {
    margin-top: 15px;
}